/*
!/.bashrc

!/.config
/.config/*
!/.config/user-dirs.dirs

!/.config/xfce4/
/.config/xfce4/*
!/.config/xfce4/xfconf/
/.config/xfce4/xfconf/*
!/.config/xfce4/xfconf/xfce-perchannel-xml/
/.config/xfce4/xfconf/xfce-perchannel-xml/*
!/.config/xfce4/xfconf/xfce-perchannel-xml/keyboard-layout.xml
!/.config/xfce4/xfconf/xfce-perchannel-xml/keyboards.xml
!/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
!/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml

!/.gitignore
!/system
!/.vimrc
!/.xmonad/
!/bin/
