[alias]
    # Console gitview replacement
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    d = diff
    st = status
	s = status
    b = branch
    r = remote -v
    m = mergetool
    rbc = rebase --continue
[user]
	name = Chris Fattarsi
	email = chris.fattarsi@pistoncloud.com
[giggle]
	main-window-maximized = false
	main-window-geometry = 1206x597+0+55
	history-view-vpane-position = 285
	main-window-view = HistoryView
	file-view-vpane-position = 330
[github]
	user = fattarsi
[color]
	diff = auto
[diff]
	tool = vimdiff
