# Ignore everything by default
/*

# Shell configs
!.bashrc
!.zshrc
!.vimrc
!.gitconfig
!.gitignore

# Terminator
!.config
.config/*
!.config/terminator
.config/terminator/*
!.config/terminator/config

# XDG user dirs
!.config/user-dirs.dirs

# XFCE4
!.config/xfce4
.config/xfce4/*
!.config/xfce4/xfconf
.config/xfce4/xfconf/*
!.config/xfce4/xfconf/xfce-perchannel-xml
.config/xfce4/xfconf/xfce-perchannel-xml/*
!.config/xfce4/xfconf/xfce-perchannel-xml/keyboard-layout.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/keyboards.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml

# Awesome WM
!.config/awesome
.config/awesome/*
!.config/awesome/rc.lua
!.config/awesome/battery.lua
!.config/awesome/locker.sh
!.config/awesome/.xprofile
!.config/awesome/.Xresources

# Bin scripts
!bin
bin/*
!bin/volume-hotkeys.sh
!bin/speech_to_text.sh
!bin/external-only.sh
